<h1>Locations#show</h1>
<p>Find me in app/views/locations/show.html.erb</p>
<table>
  <thead>
    <th>Status</th>
    <th>Reason</th>
    <th>Capacity</th>
  </thead>
  <tbody>
    
      <tr>
        <td><%= @location.name%></td>
        <td><%= @location.address%></td>
        <td><%= @location.capacity%></td>
      </tr>
  </tbody>
</table>
